---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// add to top css
#scrolltop{
<<<<<<< HEAD
    z-index: 100;
=======
	z-index: 100;
>>>>>>> ea45a222dea0a460a7e79145511e1eb75a7b4575
	display: none;
	background-color: rgba(0,0,0,0.3);
	border-radius: 4px;
	position: fixed;
	bottom: 20px;
	right: 220px;
	cursor: pointer;
	-webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
#scrolltop:hover{
	background-color: rgba(225,53,141,0.8);
}
span.icon {
	height: 32px;
	width: 32px;
	position: relative;
	margin: 8px 8px 3px;
	overflow: hidden;
	display: inline-block;
}
i.upArrow {
	height: 0px;
	width: 0px;
	border-width: 16px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	bottom: 16px;
	left: 0;
}
i.upArrow:after {
	content: '';
	width: 12px;
	height: 16px;
	background-color: #fff;
	position: absolute;
	top: 16px;
	right: -6px;
}


// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6em;

$spacing-unit:     15px;

$text-color:       #111;
$background-color: #f9f9f9;
$brand-color:      #2a7ae2;
$brand-top-color:  #2583ad;
$hover-color:      #DD1144;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$code-backgroud-color: #29281e;
$code-font-color:  #eee;  


// Width of the content area
$content-width:    960px;
$page-width:       1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"_syntax-highlighting-native" // "syntax-highlighting"
;

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

